* {
    padding: 0;
    margin: 0;
}

body {
    width: 10rem;
    background-image: url("../img/center.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}