* {
    padding: 0;
    margin: 0;
    color: #333333;
    font-weight: 600;
}

a {
    text-decoration: none;
}

body {
    width: 10rem;
    background-image: url("../img/center.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.layui-layer-content > span {
    color: #f0f4f7;
    font-weight: 400;
}